
// color
$grp_background: #eee;
$grp_header: lighten(#000,30%);


// size
$padding: 20px;

$grp_logo_size: 80px;
$grp_logo_width: 200px - $padding * 2;


$personal_logo_width: 120px - $padding * 2;
$personal_logo_size: 80px;

$min_width: 800px;

