@import 'DEFAULT';
@import 'config';
@import "compass/css3";

@include init;

section,div{
	padding: 20px;
}
body{
	height: auto;
	width: auto;
}

html{
	min-width: $grp_logo_width + 6 * $padding;
	@include Overflow;
}

.background-black{
	background: rgba(0,0,0,0.1);
//	border: 1px solid rgba(255,255,255,0.8);
}

section{
	background: $grp_background;
	
	overflow: hidden;
	margin: $padding;
	
	.img{
		padding: 0;
		background: center center no-repeat;
		@include background-size(cover);
	}
	
	// Group Logo
	.grp-logo{
		@extend .background-black;
		
		float: left;
		
		width: $grp_logo_width;
		height: $grp_logo_size;
		
		overflow: hidden;
		
		display: inline-block;
		
		.img{
			float: left;
			
			width: $grp_logo_size;
			height: $grp_logo_size;
		}
		header{
			display: block;
			font-weight: 500;
			margin-left: $grp_logo_size + 20px;
			
			width: $grp_logo_width - $grp_logo_size - 20px;
			
			overflow: hidden;
			text-overflow: ellipsis;
			white-space:nowrap;
			
			color: $grp_header;
			@include word-break(normal);
		}
		
	}
	
	// Introduce
	.introduce{
		@extend .background-black;
		
		$left: $grp_logo_width + 3 * $padding;
		$right: $personal_logo_width + 3 * $padding;
		
		margin: 0 $right 0 $left;
		
		overflow: hidden;
		
		article,p{
			width: 100%;
			
			@include word-break(break-all);
		}
	}
	
	// Personal Logo
	.personal-logo{
		@extend .background-black;
		
		width: $personal_logo_width;
		padding: $padding;
		overflow: hidden;
		
		float: right;
		
		
		li{
			margin-top: 20px;
			padding: 0;
			
			width: $grp_logo_size;
			height: $grp_logo_size;
			
			&:first-child{
				margin-top: 0;
			}
		}
		
		.img{
			width: $grp_logo_size;
			height: $grp_logo_size;
		}
	}
	
}

// 简易自适应

@media screen and (max-width: $min_width){
	section{
		.introduce{
			margin-right: 0;
		}
		
		.personal-logo{
			float: left;
			clear: left;
			
			margin-top: $padding;
		}
	}
}

$min_width: $grp_logo_width + 14 * $padding;

@media screen and (max-width: $min_width ){
	section{
		.introduce{
			margin-right: 0;
			margin-left: 0;
		}
		
		.personal-logo{
			display: none;
		}
		
		.grp-logo{
			float: none;
		}
	}
}