@charset "utf-8";
body{
    margin:0;
    padding:20px;
}
aside,article,div{
    box-sizing:border-box;
    border:1px solid #999;
}
#container{
    padding:20px 160px 20px 240px;
    background:#eee;
    overflow:hidden;
    min-width:684px;
}
#s_middle{
    float:left;
    padding:20px;
    width:100%;
    background:#FFF;
}
#s_left{
    position:relative;
    left:-220px;
    float:left;
    width:200px;
    height:120px;
    background-color:#fff;
    margin-left:-100%;
}
#s_right{
    position:relative;
    float:left;
    width:120px;
    padding-bottom:20px;
    background-color:#fff;
    margin-left:-120px;
    right:-140px;
}
img{
    position:relative;
	display:block;
    margin-top:20px;
    left:20px;
    width:80px;
    height:80px;
    background-color:#eee;
}
.team_name{
    position:relative;
    top:-80px;
    left:120px;
    width:60px;
	overflow:hidden;
    text-align:center;
    border:0;
    font-weight:bold;
}
section{
	font-size:12px;
	font-weight:bold;
}
section a{
	text-decoration:none;
	color:#f60;
}