// Size
$width: 980px;
$height: 1386px;

// header
$header_font_size: 12px;
$header_width: 892px;
$header_height: 61px;
$header_url_width: 110px;

//topic
$topic_img_width: 641px;
$topic_img_height: 301px;
$topic_img_shadow_width: 191px;
$topic_hgroup_width: 203px;

//originate

//technologe-left

//technologe-right


// Color

// header
$header_foreground: #d45d5c;
$header_background: #fff;
$header_border_color: #938e8c;

// topic
$topic_img_shaodw_left_color: #75b86b;
$topic_img_shaodw_right_color: $header_foreground;
